.list-cell.log-entry {
    -fx-log-entry-selected: paleturquoise;
    -fx-log-entry-searched: palegreen;

    -fx-selection-bar: -fx-log-entry-selected;
}

.list-cell.log-entry.searched {
    -fx-selection-bar:derive(-fx-log-entry-searched, -20%);
    -fx-selection-bar-non-focused: derive(-fx-log-entry-searched, -10%);

    -fx-control-inner-background: derive(-fx-log-entry-searched, 50%);
}

.list-cell.log-entry.searched.odd {
    -fx-control-inner-background: derive(-fx-log-entry-searched, 100%);
}

.list-cell.log-entry .text {
    -fx-font-family: 'monospace';
}

.list-cell.log-entry.searched .text.marked {
    -fx-fill: red;
    -fx-underline: true;
}

.dark.root {
    -fx-base: #413f43;
}

.dark .list-cell.log-entry {
    -fx-log-entry-selected: derive(paleturquoise, -50%);
    -fx-log-entry-searched: green;
}